.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#Education {
  background-color: #e2edff;
}

#Skills {
  background-color: #e2edff;
}
#Projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
